
<!DOCTYPE html>
<h1>Hello <%= user.name %>, your role is <%= user.role %></h1>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
    <body>

        <% if(a) { %>
            <% a.forEach(function(assign) {%>
            <div class="card mb-3">
                <div class="card-header">
                    <div class="card-title">
                            Title = <%= assign.title %>
                            </br>
                            Description = <%= assign.description %>
                            </br>
                            Code = <%= assign.assigncode %>
                            </br>
                            CreatedAt = <%= assign.createdAt %>
                        <!-- </br>
                         ModifiedAt = <%= assign.updatedAt %> -->
                    </br>
                            <a href="/instructor/view_submission/<%= assign.assigncode %>">View submissions</a>
                </br>
                <a href="/instructor/inviteall/<%= assign.assigncode %>">Invite</a> all students for the assignemnts through mail
                    </div>
                </div>
            </div>
            <%}) %>
            <% } else { %>
            <p>No assignments to show</p>
            <% } %>

        <a href="/instructor/create_assignment">Create Assignment</a>
    </body>