<!DOCTYPE html>

<%- include("../partials/head.ejs") %>

    <%- include("../partials/home.ejs") %>

        <body style="padding-top: 4em; background-color:white;" class="ml-4">
            <div class="container-fluid">
                <h2>Created Courses</h2>
                <div class="row">
                    <% if(a) { %>
                        <% a.forEach(function(course) {%>
                            <div class="col-md-5 m-2">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <div class="card-title">
                                            <h3><%= course.name %></h3>
                                                <!-- </br> -->
                                                Description = <%= course.description %>
                                                    </br>
                                                    Code = <%= course.coursecode %>
                                                        </br>
                                                        <!-- <div class="progress" style="width: 60%;">
                                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="<%=course.completed%>" aria-valuemin="0" aria-valuemax="100" style="width: <%= course.completed%>%"><%=course.completed%>%</div>
                                    </div> -->
                                    <ul class="navbar-nav ml-auto">
                                    <li class="nav-item dropdown" style="cursor: pointer;">
                                        <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink3" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="true">
                                          <%= course.name %>
                                        </a>
                                       
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                          <a class="dropdown-item" href="/instructor/assignments/<%= course.coursecode %>">Assignments</a>
                                          <a class="dropdown-item" href="/instructor/announcements/<%= course.coursecode %>">Announcements</a>
                                          <a class="dropdown-item" href="/instructor/enrolled_students/<%= course.coursecode %>">Enrolled Student</a>
                                          <a class="dropdown-item" href="/instructor/view_grades/<%= course.coursecode %>">Grade Stats</a>
                                          <a class="dropdown-item" href="/forum/<%= course.coursecode %>">Course Forum</a>
                                          <a class="dropdown-item" href="/instructor/assignta/<%= course.coursecode %>">Manage TA</a>
                                         
                                        </div>
    
                            
                                      </li>
                                    </ul>
                                                        <!-- <a href="/instructor/assignments/<%= course.coursecode %>">View
                                                            all assignments</a>
                                                        </br>
                                                        <a href="/instructor/announcements/<%= course.coursecode %>">View
                                                            all announcements</a>
                                                        </br>
                                                        <a
                                                            href="/instructor/enrolled_students/<%= course.coursecode %>">All
                                                            enrolled students</a>
                                                        </br>
                                                        <a 
                                                            href="/instructor/view_grades/<%= course.coursecode %>">View Grades</a>
                                                        </br>
                                                        <a 
                                                            href="/forum/<%= course.coursecode %>">View forum</a>
                                                        </br>
                                                        <a 
                                                            href="/instructor/assignta/<%= course.coursecode %>">Manage TAs</a>
                                                        </br> -->
                                                        <a
                                                            href="/instructor/inviteall/<%= course.coursecode %>">Invite</a>
                                                        all students
                                                        for the course through mail
                                                        </br>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}) %>
                                <% } else { %>
                                    <p>No Courses to show</p>
                                    <% } %>
                </div>


            </div>
            <%- include("../partials/foot.ejs") %>
        </body>