<!DOCTYPE html>
<head>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
    <script src="http://d3js.org/d3.v6.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>
</head>
<%- include("../partials/head.ejs") %>

    <%- include("../partials/home.ejs") %>

        <body style="padding-top: 4em; background-color:white;" class="ml-4">

            <h2>
                <%= assignment.title %> for course : <%= course.name %>
            </h2>
            <p id="mean">Mean</p>
            <p id="var">Variance </p>
            <div style="width: 50%;" id="test"></div>
            <% arr=[] %>

            <% function get_time(date1, date2) { var diff=(date1 - date2) / (1000 * 60 * 60 * 24); //In days var time;
                if (Math.abs(diff)> 1) {
                time = Math.floor(Math.abs(diff)).toString();
                if (diff > 0) {
                return (time + " days early");
                }
                else {
                return (time + " days late");
                }
                }
                diff *= 24; //In hours
                if (Math.abs(diff) > 1) {
                time = Math.floor(Math.abs(diff)).toString();
                if (diff > 0) {
                return (time + " hours early");
                }
                else {
                return (time + " hours late");
                }
                }
                diff *= 60; //In mins
                if (Math.abs(diff) > 1) {
                time = Math.floor(Math.abs(diff)).toString();
                if (diff > 0) {
                return (time + " minutes early");
                }
                else {
                return (time + " minutes late");
                }
                }
                diff *= 60; //In seconds
                time = Math.floor(Math.abs(diff)).toString();
                if (diff > 0) {
                return (time + " minutes early");
                }
                else {
                return (time + " minutes late");
                }
                }
                %>

                <h2>Submissions </h2>
                <% if(files) { %>
                    <ol>
                        <% files.forEach(function(file) {%>
                            <li>
                                </br>
                                Filename: <%= file.filename %>
                                    </br>
                                    Submitted by: <%= file.username %>
                                        </br> download link:
                                        <a href="/download/<%= file._id %>" download>
                                            <%= file.filename %>
                                        </a>
                                        </br>
                                        Last given feedback: <%= file.feedback %></br>
                                            Last given grade: <%= file.grade %> </br>at time <%= file.updatedAt.toLocaleString() %>
                                            <% arr.push(file.grade) %>
                                                    </br>
                                                    The assignment was submitted: <%=
                                                        get_time(assignment.deadline,file.createdAt) %>
                                                        <form action="/instructor/feedback/<%= file._id %>"
                                                            method="post">
                                                            <label for="title">Feedback</label>
                                                            <input type="text" name="feedback">
                                                            <label for="title">Grade</label>
                                                            <input type="number" name="grade" min="0" max="100"
                                                                default="0" required>
                                                            <input type="submit" value="Submit">
                                                        </form>
                            </li>
                            <% }) %>
                    </ol>
                    <% } else { %>
                        <p>No files to show</p>
                        <% } %>
                    <p><% marks %></p>
        </body>
        <%
        function dev(arr){
            let mean = arr.reduce((acc, curr)=>{
              return acc + curr
            }, 0) / arr.length;
            arr = arr.map((k)=>{
              return (k - mean) ** 2
            })
             
           let sum = arr.reduce((acc, curr)=> acc + curr, 0);
           let variance = sum / arr.length
           return [mean,variance]
          }
        %>

        <script> 
document.getElementById("mean").innerHTML = `Mean: ${<%= dev(marks)[0].toFixed(2) %>} `;
document.getElementById("var").innerHTML = `Variance: ${<%= dev(marks)[1].toFixed(2) %>} `;


const plot=document.getElementById('test');
 
mark= <%- JSON.stringify(marks) %>
y=[0,0,0,0,0]
for(const m of mark){
    if(m<20){
        y[0]+=1;
    }
    else if(m<40){
        y[1]+=1;
    }
    else if(m<60){
        y[2]+=1;
    }
    else if(m<80){
        y[3]+=1;
    }
    else if(m<=100){
        y[4]+=1;
    }
}

var data = [
  {
    x: ['0-20', '20-40', '40-60', '60-80', '80-100'],
    y: y,
    type: 'bar',
    name: 'No of students'
  }
];
var layout = {
  title: {
    text:'',
    font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,
  },
  xaxis: {
    title: {
      text: 'Marks',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    },
  },
  yaxis: {
    title: {
      text: 'No of Students',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
Plotly.newPlot(plot, data, layout);
        </script>
        <%- include("../partials/foot.ejs") %>