<!DOCTYPE html>
<h1>Hello <%= user.name %>, your role is <%= user.role %>
</h1>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <h2>Enrolled Assignments</h2>
    <ul>
        <% assignments.forEach(function(assignment) { %>
            <li>
                title: <%= assignment.title%>
                    </br>
                    description: <%= assignment.description%>
                        </br>
                    instructor:    <%= assignment.author%>
                    </br>
                    Assignment CreatedAt: <%= assignment.createdAt%>
                            <form action="/upload/<%= assignment.assigncode %>" method="post"
                                enctype="multipart/form-data">
                                <div class="custom-file mb-3">
                                    <input type="file" name="file" id="file1">
                                    <label for="file1" id="file-label"><small>Choose file</small></label>
                                </div>
                                <input type="submit" id="submit-button" value="Submit">
                            </form>
                            <% if(files) { %>
                                <ul>
                                    <% files.forEach(function(file) {%>
                                        <% if (file.assigncode==assignment.assigncode) { %>
                                        <li> Your Last Submission:
                                            <%= file.filename %>
                                                <a href="/download/<%= file._id %>" download> download submission</a></li>
                                           <li>
                                               feedback: 
                                            <% if(file.feedback=="") { %>
                                            No feedback recieved
                                            <% } else { %>
                                                <%= file.feedback %>
                                            <% } %>

                                                <% } %>
                                                    <%}) %>
                                </ul>
                                <% } else { %>
                                    <p>No files to show</p>
                                    <% } %>
            </li>
            <% }) %>
    </ul>

</body>