<!DOCTYPE html>
<script src="/javascripts/trial.js"></script>

<%- include("../partials/head.ejs") %>

    <%- include("../partials/home.ejs") %>
            <% function get_time(date1, date2) { var diff=(date1 - date2) / (1000 * 60 * 60 * 24); //In days var time;
                if (Math.abs(diff)> 1) {
                time = Math.floor(Math.abs(diff)).toString();
                if (diff > 0) {
                return (time + " days early");
                }
                else {
                return (time + " days late");
                }
                }
                diff *= 24; //In hours
                if (Math.abs(diff) > 1) {
                time = Math.floor(Math.abs(diff)).toString();
                if (diff > 0) {
                return (time + " hours early");
                }
                else {
                return (time + " hours late");
                }
                }
                diff *= 60; //In mins
                if (Math.abs(diff) > 1) {
                time = Math.floor(Math.abs(diff)).toString();
                if (diff > 0) {
                return (time + " minutes early");
                }
                else {
                return (time + " minutes late");
                }
                }
                diff *= 60; //In seconds
                time = Math.floor(Math.abs(diff)).toString();
                if (diff > 0) {
                return (time + " minutes early");
                }
                else {
                return (time + " minutes late");
                }
                }
                %>

                <body style="padding-top: 4em; background-color:white;">
                    <h2><% if(!ta_perms){ %>Enrolled <%}%>Assignments  : Course <%= course.name %>
                    </h2>
                    <% if(user.courses.includes(course.coursecode)){ %>
                    <p id="ass_count">Number of assignments: </p>
                    <p id="sub_count">Submitted: </p>
                    <p id="course_total">Total Marks: </p>
                    <p id="stud_total">Your Marks: </p>
                    <p id="percent">Percentage: </p>
                    <p id="completion"></p>
                    <% } %>

                    <% var sub=0 %>
                    <% var stud_total=0 %>
                    <% var course_total=0 %>
                        <% assignments.forEach(function(assignment) { %>
                            <div class="card mb-3 mx-2">
                                <div class="card-header">
                                    <div class="card-title">
                                        Title: <%= assignment.title%>
                                            </br>
                                            Description: <%= assignment.description%>
                                                </br>
                                                Instructor: <%= assignment.author%>
                                                    </br>
                                                    Assignment CreatedAt: <%= assignment.createdAt.toLocaleString() %>
                                                        </br>
                                                        Due Deadline: <%= assignment.deadline.toLocaleString() %>
                                                            </br>
                                                            Weightage(in %) = <%= assignment.weightage %>

                                                            <% if(ta_perms && ta_perms.grading){ %>
                                                                </br>
                                                                <a href="/instructor/view_submission/<%= assignment.assigncode %>">View
                                                                    submissions</a>
                                                                </br>
                                                                <a href="/download_all/<%= assignment.assigncode %>">Download
                                                                    all submissions</a>
                                                            
                                                                </br>
                                                                </br>
                                                                Upload graded CSV downloaded from above link</br>
                                                                <form action="/uploadcsv/<%= assignment.assigncode %>" method="post"
                                                                    enctype="multipart/form-data">
                                                                    <div class="custom-file mb-3">
                                                                        <input type="file" name="file" id="file1">
                                                                        <label for="file1" id="file-label">Choose file</label>
                                                                    </div>
                                                                    <input type="submit" id="submit-button" value="Submit">
                                                                </form>
                                                            <% } %>


                                                            <% course_total=course_total+assignment.weightage %>
                                                                
                                                                <% if(user.courses.includes(course.coursecode)){ %>
                                                                    <form action="/upload/<%= assignment.assigncode %>"
                                                                        method="post" enctype="multipart/form-data">
                                                                        <div class="custom-file mb-3">
                                                                            <input type="file" name="file" id="file1" required>
                                                                            <label for="file1" id="file-label"><small>Choose
                                                                                    file</small></label>
                                                                        </div>
                                                                        <input type="submit" id="submit-button"
                                                                            value="Submit">
                                                                    </form>
                                                                <% } %>

                                                                <% if(files) { %>
                                                                    <ul>
                                                                        <% files.forEach(function(file) {%>
                                                                            <% if
                                                                                (file.assigncode==assignment.assigncode)
                                                                                { %>
                                                                                <% sub=sub+1 %>
                                                                                    <li> Your Last Submission:
                                                                                        <%= file.filename %>
                                                                                            <a href="/download/<%= file._id %>"
                                                                                                download> download
                                                                                                submission</a>
                                                                                    </li>
                                                                                    <li>
                                                                                        The assignment was submitted:
                                                                                        <%= get_time(assignment.deadline,file.createdAt)
                                                                                            %>
                                                                                    </li>
                                                                                    <li>
                                                                                        grade:
                                                                                        <% if(!isNaN(file.grade)) { %>
                                                                                            <%= file.grade %>
                                                                                            <% stud_total= stud_total + file.grade*assignment.weightage/100 %>

                                                                                                <% } else { %>
                                                                                                    No Grade recieved
                                                                                                    <% } %>
                                                                                    </li>
                                                                                    <li>
                                                                                        feedback:
                                                                                        <% if(file.feedback=="" ) { %>
                                                                                            No feedback recieved
                                                                                            <% } else { %>
                                                                                                <%= file.feedback %>
                                                                                                    <% } %>

                                                                                                        <% } %>
                                                                                                            <%}) %>

                                                                    </ul>
                                                                    <% } else { %>
                                                                        <p>No files to show</p>
                                                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <% }) %>

                            <% if(user.courses.includes(course.coursecode)){ %>
                                <script>
                                    document.getElementById("ass_count").innerHTML = `Number of Assignments: ${<%= assignments.length %>}`;
                                    document.getElementById("sub_count").innerHTML = `Submitted Count: ${<%= sub %>} `;
                                    document.getElementById("completion").innerHTML = `Course Completion: ${<%= (sub / assignments.length* 100).toFixed(2) %>}%`;
                                    document.getElementById("course_total").innerHTML = `Total Marks: ${<%= course_total %>} `;
                                    document.getElementById("stud_total").innerHTML = `Your Marks: ${<%= stud_total %>} `;
                                    document.getElementById("percent").innerHTML = `Percentage: ${<%= (stud_total*100/course_total).toFixed(2) %>}% `;
                                </script>
                            <% } %>

                                <% if(ta_perms && ta_perms.assignment) {%>
                                    <a href="/instructor/create_assignment/<%= course.coursecode %>">Create Assignment</a>
                                <% } %>
                                <%- include("../partials/foot.ejs") %>
                </body>