<!DOCTYPE html>
<h1>Hello <%= user.name %>, your role is <%= user.role %>
</h1>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <p>COURSES</p>

    <% if(courses) { %>
        <p>INIF</p>
        <% courses.forEach(function(course) {%>
            <div class="card mb-3">
                <div class="card-header">
                    <div class="card-title">
                        Title = <%= course.course.name %>
                        </br>
                        Description = <%= course.course.description %>
                        </br>
                        Code = <%= course.course.coursecode %>
                        </br>
                        <div class="progress" style="width: 25%;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="<%=course.completed%>" aria-valuemin="0" aria-valuemax="100" style="width: <%= course.completed%>%"><%=course.completed%>%</div>
                        </div>
                        <a href="/student/assignments/<%= course.course.coursecode %>">View all assignments</a>
                        </br>
                        <a href="/student/announcements/<%= course.course.coursecode %>">View all announcements</a>
                        <!-- <a href="/instructor/create_assignment/<%= course.course.coursecode %>">Create Assignments</a> -->
                    </div>
                </div>
            </div>
            <%}) %>
                <% } else { %>
                    <p>No Courses to show</p>
                    <% } %>
                    <a href="/student/enroll_course">Enroll Course</a>
</body>